 body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to right, #09131b, #060d0e);
            font-family: Arial, sans-serif;
        }

        .converter {
            background: rgb(155, 117, 82);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            text-align: center;
            width: 300px;
        }

        h2 {
            margin-bottom: 20px;
        }

        input {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
            border-radius: 10px;
           
        }

        button {
            padding: 10px 20px;
            border: none;
            background: #18c45a;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background: #0072ff;
        }

        .result {
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
        }